@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav ml-auto w-100 justify-content-end">
    @if (Request.IsAuthenticated)
    {
        <li class="navbar-item">
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", null, new { title = "Manage", @class = "nav-link" })
        </li>
        <li class="navbar-item">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </li>
    }
    else
    {
        <li class="navbar-item">
            @Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink", @class = "nav-link" })
        </li>
        <li class="navbar-item">
            @Html.ActionLink("Log in", "Login", "Account", null, new { id = "loginLink", @class = "nav-link" })
        </li>
    }
</ul>